$color_white: white;
$color_black: black;
$font-family: 'Roboto', sans-serif;
$background-color_darkblue: darkblue;
$background-color_blueish: rgb(17,117,162,53%);
$background-color_gray: rgb(155,155,155,0.9);
$background-color_white: white;
$background-color_lighter-blueish: rgb(17, 117, 162, 59%);
$background-color_black: black;
$background-color_red: red;
$background-color_green: lightgreen;
$background-color_yellow: yellow;